/* css styles */
.subtitle {
  font-style: italic;
  text-align: center;
}

figcaption {
  margin: auto;
  text-align: center;
}
h1 {

text-align: center;
color: #54698a;

}

h2 {

color: #54698a;

}

h3 {

color: #54698a;

}

